<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Army Builder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/armyBuilder.css">
</head>

<body>
    <!--Navbar-->
    <div th:replace="~{fragments :: navbarFragment}"></div>

    <!--Body-->
    <input type="hidden" id="armySizeClass" th:value="${army.sizeClass}">
    <!--/*@thymesVar id="armyId" type="java.util.UUID"*/-->
    <input type="hidden" id="armyId" th:value="${army.armyId}">
    <div class="container">

        <input type="hidden" id="username" name="username" th:value="${username}" />
        <h1 th:text=${army.name}></h1>


        <div id="detachmentAddSuccessToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Detachment Added! <i class="far fa-smile"></i></div>
        </div>

        <div id="detachmentAddFullToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Detachment full! <i class="far fa-frown"></i></div>
        </div>

        <div id="detachmentAddErrorToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Detachment Add Error <i class="far fa-dizzy"></i></div>
        </div>

        <div id="detachmentDeleteSuccessToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Detachment Deleted! <i class="far fa-smile"></i></div>
        </div>

        <div id="detachmentDeleteErrorToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Detachment Delete Error <i class="far fa-dizzy"></i></div>
        </div>

        <div id="unitAddSuccessToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Unit Added! </div>
        </div>

        <div id="unitAddErrorToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Unit Add Error <i class="far fa-dizzy"></i></div>
        </div>

        <div id="unitDeleteSuccessToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Unit Deleted! <i class="far fa-smile"></i></div>
        </div>

        <div id="unitDeleteErrorToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert">
            <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="toast-body">Unit Delete Error <i class="far fa-dizzy"></i></div>
        </div>

        <!--row with detachment menu(vertical) on left, and main armybuilder window(80%) on right-->
        <div class="row" id="mainRow">
            <div class="col-3" id="detachmentTypeContainer">
                <!-- <a href="#" role="button" id="addDetachmentButton" class="btn btn-primary" style="width: 100%;">Add</a> -->
                <!--detachment type divs go here-->
            </div>
            <div class="col-8" id="mainBuilderWindow">
                <!--main edit window where everything will appear-->
            </div>
            <div class="col-1"></div>

        </div>

        <!--row with navigation square(20%) on left, and unit container (80%, horizontal) on right-->
        <div class="row" id="secondRow">
            <div class="col-1"></div>
            <div class="col-2" id="navigationSquare">
                <!--some text in order to orient the user as to what does what-->
                <div class="row" id="navSquareTop"><i class="fas fa-arrow-circle-up fa-2x"></i><span>Detachments</span>
                </div>
                <div class="row" id="navSquareBottom"><i class="fas fa-arrow-circle-right fa-2x"></i><span>Units</span>
                </div>
            </div>
            <div class="col-8" id="unitTypeContainer">
                <div class="row" id="draggableContainer">
                    <!--draggable unit cards go here-->
                </div>
            </div>
            <div class="col-1"></div>

        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e3553c8da6.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var army = /*[[${army}]]*/ null;
                /*]]>*/
    </script>
    <script src="/js/armyBuilder.js"></script>
</body>

</html>