<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/armyHome.css">
</head>

<body>

    <!-- Modal -->
    <div class="modal fade" id="addArmyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add Army</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/armybuilder/army/{armyId}">
                        <div class="form-group">
                            <input type="text" class="form-control" id="armyName" name="name" placeholder="Army Name">
                        </div>
                        <div class="form-group">
                            <select name="faction" id="factionTypeId" class="form-control">
                                <option selected="selected"> Faction </option>
                                <option th:each="faction: ${factions}" th:text="${faction.name}"
                                    th:value="${faction.factionTypeId}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="sizeClass" id="armySizeSmall"
                                    value="small">
                                <label class="form-check-label" for="armySizeSmall">Small</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="sizeClass" id="armySizeMedium"
                                    value="medium">
                                <label class="form-check-label" for="armySizeMedium">Medium</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="sizeClass" id="armySizeLarge"
                                    value="large">
                                <label class="form-check-label" for="armySizeLarge">Large</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="armyNotes">Notes</label><input type="text" name="armyNotes" class="form-control" id="armyNotes" placeholder="Notes">
                        </div>
                        <button id="submitArmyButton" class="btn btn-success"><i class="fas fa-check"></i></button>
                        <a role="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></a>
                    </form>
                </div>
                <!-- <div class="modal-footer">

                </div> -->
            </div>
        </div>
    </div>

    <!--Navbar-->
    <div th:replace="~{fragments :: navbarFragment}"></div>

    <!--Header-->
    <input type="hidden" id="username" name="username" th:value="${username}" />
    <h1 class="display-4" th:text="${username} + '\'s Armies'"></h1>

    <div id="armyEditSuccessToast" class="toast" style="position: absolute; top: 50; right: 50;" role="alert">
        <div class="toast-header"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        <div class="toast-body">Army Edited! <i class="fas fa-smile"></i></div>
    </div>


    <i role="button" class="fas fa-plus-circle fa-3x" id="addArmyButton" data-toggle="modal" data-target="#addArmyModal"
    ></i>

    <!--Bodys-->
    <div class="cards d-flex justify-content-around flex-wrap" id="cardTable">
        <!--army cards go here-->
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e3553c8da6.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <!-- <script th:inline="javascript">
        /*<![CDATA[*/
        var factions = /*[[${factions}]]*/ null;
                    /*]]>*/
    </script> -->
    <script src="/js/armyHome.js"></script>
</body>

</html>